body{
    margin: 0px;
    background-image: linear-gradient(to right, #ed1c6f, #ce0082, #a51090, #722299, #242c99);
    font-family: 'Calibri';
}

header{
    background-color: #f2f2f2;
    height: 25%;
}

header ul{
    display: inline-block;
}

header ul li{
    background-color: white;
    position: absolute;
    width: 20%;
    height: 30%;
    top: 10%;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* Adjust values for your desired effect */
    transition: all linear 0.3s;
}



/* header ul li i:hover{
    color: white !important;
} */

header ul li > *{
    width: 100%;
    text-align: center;
}

header ul #add{
    left: 7.75%;
}

header ul #phon{
    left: 29.25%;
}

header ul #fx{
    left: 50.75%;
}

header ul #mail{
    left: 72.25%;
}


header ul li i{
    color: #b2217c;
    text-align: center;
    font-size: 65px;
    transition: all linear 0.2s;
}

header ul li h4{
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

header ul li a{
    color: #b2217c;
    transition: all linear 0.2s;
}

header ul li:hover{
    width: 22%;
    height: 33%;
    background-color: #b2217c;
    color: white !important;
    z-index: 1;
}

header ul li:hover i{
    color: white;
}

header ul li:hover a{
    color: white;
}

main{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 5%;
}

main form{
    width: 42%;
    padding-top: 13%;
}

main section{
    width: 42%;
    padding-top: 11%;
    margin-left: 5%;
}

main form label{
    display: block;
    margin-bottom: 4%;
    font-size: 18px;
}

main form input[type="email"]{
    margin-left: 3%;
    border: none;
    background-color: inherit;
    color: white;
    width: 100%;
}

main form input[type="text"]{
    margin-left: 3%;
    border: none;
    background-color: inherit;
    color: white;
    width: 100%;
}

main form textarea{
    margin-left: 3%;
    border: none;
    background-color: inherit;
    color: white;
    width: 100%;
    resize: none;
}

form > *:focus{
    outline: none;
}

form > *::placeholder{
    color: white;
    opacity: 50%;
}

form input:focus{
    border: none;
}

form hr{
    margin-bottom: 4%;
}

form input[type="submit"]{
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: d41e75;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

form input[type="submit"]:hover{
    opacity: 0.5;
}

section h2{
    font-size: 40px;
    margin-top: 0;
    font-weight: 100;
}

section #p1{
    font-weight: bold;
}

section #p2{
    margin-top: 6%;
    opacity: 75%;
}

section ul{
    display: inline-block;
    padding: 0px;
    margin-top: 4%;
    width: 100%;
}

section ul li{
    display: inline-block;
    padding: 2%;
}

section ul li a:hover{
    opacity: 0.5;
}

section ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

